[submodule "test/repos/flask"]
	path = test/repos/flask
	url = git@github.com:pallets/flask.git
[submodule "test/repos/cpython"]
	path = test/repos/cpython
	url = git@github.com:python/cpython.git
[submodule "test/repos/jedi"]
	path = test/repos/jedi
	url = git@github.com:davidhalter/jedi.git
[submodule "test/repos/tensorflow-models"]
	path = test/repos/tensorflow-models
	url = git@github.com:tensorflow/models.git
[submodule "test/repos/graphql-core"]
	path = test/repos/graphql-core
	url = git@github.com:plangrid/graphql-core.git
[submodule "test/repos/thefuck"]
	path = test/repos/thefuck
	url = git@github.com:nvbn/thefuck.git
