[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jedi = {git = "git://github.com/sourcegraph/jedi.git", editable = true, ref = "9a3e7256df2e6099207fd7289141885ec17ebec7"}
requirements = {git = "git://github.com/sourcegraph/requirements-parser.git", editable = true, ref = "69f1a9cb916b2995843c3ea9b988da46c9dd65c7"}
opentracing = "*"
lightstep = "*"


[dev-packages]

py = "==1.4.34"
pytest = "==3.2.3"
"autopep8" = "*"
"flake8" = "*"
autoflake = "*"
docformatter = "*"


[requires]

python_version = "3.6"
